/*.table-bordered > tbody > tr:nth-child(2n+1) > td, .table-bordered > tbody > tr:nth-child(2n+1) > th {*/
/*background-color: rgb(242, 244, 245) !important;*/
/*padding: 5px;*/
/*}*/

/*.table-bordered > tbody > tr:nth-child(2n) > td, .table-bordered > tbody > tr:nth-child(2n) > th {*/
/*background-color: rgb(247, 248, 250) !important;*/
/*padding: 5px;*/
/*}*/
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    display: none !important;
}

.page-title {
    color: #222d32 !important;
    background-color: #f5f5f5 !important;
    padding: 10px 15px !important;
    border: 1px solid #ddd !important;
    font-size: 17px;
    font-family: Algerian;
    font-style: normal;
    /*border-top-right-radius: 3px*/
}

input[class="form-control"] {
    border-radius: 3px !important;
}

.page-title {
    background-color: #ddd;
    padding: 10px;
}

.pagination-wrapper > a, .jsgrid-pager-page > a, .jsgrid-pager-nav-button > a {
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 3px;
    background-color: #3c8dbc;
    color: #fff !important;
    text-align: center;
    vertical-align: top;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.jsgrid-pager-current-page {
    background-color: #fff;
    color: #000 !important;
    padding-right: 5px;
}

.pagination-wrapper {
    /*margin-top:14px;*/
}

span[class="current"] {
    padding-left: 2px;
    padding-right: 3px;
}

a.btn.btn-xs {
    width: 32px;
}

.button-actions {
    padding-top: 18px;
    width: 100%;
    display: block;
    float: left;
}

.form-group {
    float: left;
    width: 100%;
    padding-top: 10px;
}

span[class="error"] {
    color: red;
    padding-left: 3px;
}

.row-actions {
    width: 110px;
}

.control-label {
    text-align: right;
}

td > input {
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
}

td[class="td-width"] {
    width: 15%;
}

.table > thead > tr > th {
    /*padding: 10px !important;*/
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
}

.table > tbody > tr > td {
    padding: 8px;

}

@media print {
    @page {
        /*size: landscape;   !* auto, portrait, landscape or length... *!*/
        margin: 5mm;
        margin-bottom: 2mm;
        width: 297mm;
        height: 210mm;
    }

    td > input {
        border: 1px solid #fff;
    }

    .btn, a, #search, footer, .dataTables_filter, .dataTables_length, #asset_category_filter, #depreciation_filter {
        display: none;
    }

    table.dataTable thead .sorting:after {
        opacity: 0.2;
        content: none !important;
    }

    table.dataTable thead .sorting_asc:after, table > thead > tr > th:last-child, table > tbody > tr > td:last-child {
        content: none !important;
        display: none;
        border: none !important;
    }

    .table > thead > tr > th {
        background-color: #c21856 !important;
        color: white !important;
    }

    .table > tr > td:nth-child(2) {
        display: none;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: hidden !important;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 10px;
        line-height: 1.42857143;

    }

    table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
        padding-right: 10px !important;
    }

    .panel-body {
        padding: 1px;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .table > tbody > tr > td:nth-child(2), .table > thead > tr > th:nth-child(2) {
        display: none !important;
    }
}

.datagrid-body-inner {
    margin-top: 40px;
}

tr.datagrid-row:hover {
    background: #00bbee;
    color: #fff;
}

.datagrid-toolbar > a {
    width: 50px !important;
    margin-bottom: 10px;
}

.datagrid-pager {
    display: none;
}

.datagrid-view .validatebox-invalid {
    border-color: #ffa8a8 !important;
}

.datagrid-view .datagrid-editable-input {
    margin: 0;
    padding: 2px 4px;
    border: 1px solid #ddd;
    font-size: 12px;
    outline-style: none;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.validatebox-invalid {
    border-color: #ffa8a8;
    background-color: #fff;
    color: #404040;
}

.datagrid-btable {
    font-size: 13px;
}

.datagrid-header {
    margin-bottom: -16px;
}

.datagrid-row-selected {
    background: #00bbee;
    color: #fff;
}

.datagrid-editable-input {
    color: #5f5050;
}

.datagrid-row:focus {
    background-color: red;
}

.panel.window.panel-htop.messager-window, .window {
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #ddd;
    padding: 0 0 0 10px;
    z-index: 99999;
    height: 120px;
}

.dialog-button > a {
    margin-right: 10px;
}

.datagrid-header-row {
    font-weight: 600;
}

.datagrid-editable > table {
    width: 90%;
}

.alert-position {
    position: fixed;
    height: 53px;
    width: 30%;
    bottom: 0;
    right: 5px;
    margin-bottom: 6px;
    z-index: 9999;
}

.show-all {
    width: 80px !important;
}

/*START JS GRID*/
#jsGrid {
    width: 100%;
    background-color: #fff;
}

td.jsgrid-cell.jsgrid-invalid {
    border: 1px solid red;
}

.jsgrid-button {
    margin-left: 5px;
}

.jsgrid-header-row {
    background: #ddd;
    font-size: 17px;
}

.jsgrid-insert-mode-button {

}

table {
    width: 100%;
}

.jsgrid-grid-body, .jsgrid-grid-header {
    /* padding:5px;*/
}

.jsgrid-insert-row {
    background-color: #bde6bd;
    display: flex;
}

.jsgrid-grid-body > table {
    margin-bottom: 0 !important;
}

.jsgrid-cell > select, .jsgrid-cell > input[type='number'] {
    height: 100%;
}

.jsgrid-pager-container {
    background: #fff;
    display: block;
    width: 100%;
    padding-bottom: 7px;
    padding-top: 15px;
}

.jsgrid-edit-row {
    background-color: #ddd;
}

.jsgrid-cell > input {
    width: 90%;
}

/*END JS GRID*/
#searchResult {
    background-color: #748488;
    color: #fff;
}

/*.table-bordered > tbody > tr:nth-child(2n+1) > td, .table-bordered > tbody > tr:nth-child(2n+1) > th {*/
/*background-color: rgb(242, 244, 245) !important;*/
/*}*/

/*.table-bordered > tbody > tr:nth-child(2n) > td, .table-bordered > tbody > tr:nth-child(2n) > th {*/
/*background-color: rgb(247, 248, 250) !important;*/
/*}*/

.table > tbody > tr > td:first-child {
    color: #3c8dbc;
    background-color: #f9f9f9 !important;
    border: 1px solid #f4f4f4;
    width: 50px !important;
}

.table > thead > tr:first-child {
    color: #222d32 !important;
    font-family: "Tw Cen MT Condensed Extra Bold" !important;
    font-size: 14px;
    font-weight: bold;

    background-color: #f9f9f9 !important;
    border: 1px solid #f4f4f4;
}

.skin-blue .main-header .navbar {
    background-color: #3c8dbc;
    /*min-height: 80px !important;*/
}

.tt-menu {
    width: 300px;
}

ul.typeahead {
    margin: 0px;
    padding: 10px 0px;
}

ul.typeahead.dropdown-menu li a {
    padding: 10px !important;
    border-bottom: #CCC 1px solid;
    color: #FFF;
}

ul.typeahead.dropdown-menu li:last-child a {
    border-bottom: 0px !important;
}

.bgcolor {
    max-width: 550px;
    min-width: 290px;
    max-height: 340px;
    background: url("http://localhost/fixed_asset/assets/image/plus.png") no-repeat center center;
    padding: 100px 10px 130px;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
}

.demo-label {
    font-size: 1.5em;
    color: #686868;
    font-weight: 500;
    color: #FFF;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    text-decoration: none;
    background-color: #1f3f41;
    outline: 0;
}

.badge-quantity {
    background-color: #d81b60 !important;
}

.fa-download {
    font-size: 25px;
    color: #f5f5f5 !important;

}

div.dataTables_wrapper div.dataTables_filter {
    text-align: center;
}

/*#download {*/
/*background-color:#7A1818 ;*/
/*position: absolute;*/

/*top: 237px;*/
/*left: 1177px;*/

/*}*/

.table > thead > tr > th {
    padding: 4px;
}

#track > .table > tbody > tr:first-child {
    /*background-color: #00a65a;*/
    text-transform: capitalize;
    color: #00a65a;
    border-bottom: 2px solid #00a65a !important;
    font-size: 16px;
    font-weight: bolder;
}

#track > .table > tbody > tr:first-child:hover {
    background-color: #00a65a;
    text-transform: capitalize;
    color: white;
    border-bottom: 2px solid !important;
    font-size: 16px;
    font-weight: bolder;
}